* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dm-sans-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
}

.top-bar {
    background-color: #024427;
    color: white;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

}

.top-bar-tel,
.top-bar-content {
    font-size: 11px;
}

.top-bar-select {
    font-size: 11px;
    display: flex;
    gap: 20px;

}

.globe-icon {
    font-size: 13px;
    color: #ffffff;
    position: relative;
    right: 13px;
}

.phone-icon {
    transform: scaleX(-1);
    margin-right: 5px;
    color: #ffffff;
}


.user-icon,
.shopping-cart {
    color: rgb(0, 0, 0);
    font-size: 20px;

}

.shopping-cart {
    margin-left: 30px;

}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 70px;
    height: 70px;
}

.logo {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.menu-bar {
    display: flex;
    gap: 20px;
    /* Remove default border */
    list-style: none;
    /* Remove default list styling */
    font: 500 18px "DM Sans", sans-serif;
    align-items: center;
    gap: 60px;
}

.menu-bar li a {
    text-decoration: none;
    color: #000;
}

.angle-down {
    font-size: 10px;
    margin-left: 5px;
}

input[type="text"] {
    border: none;
    font: 500 18px "DM Sans", sans-serif;
    background-color: #e9e9e9;
    padding: 10px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    width: 300px;
}

input[type="text"]:focus {
    border-radius: 5px;
    height: 30px;
    border: none;
    outline: none;
}

.search-icon {
    border: none;
    position: relative;
    top: 5px;
    right: 40px;
    background-color: transparent;
}

.search-icon-1 {
    font-size: 20px;
    color: #5a5a5a;
}

.acc-cart {
    font: 500 18px "DM Sans", sans-serif;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;

}

.setting-icon {
    font-size: 10px;
    margin-left: 5px;
}

.box {
    width: 90%;
    height: 270px;
    margin: auto;
    background-color: #F0E4D3;

}

.box-content {
    font: 900 40px "DM Sans", sans-serif;
    margin-left: 100px;
    padding-top: 35px;
    color: #024427;
}

.btn-box {
    color: #ffffff;
    background-color: #024427;
    border-radius: 30px;
    width: 150px;
    height: 60px;
    border: none;
    font: 600 20px "DM Sans", sans-serif;
    margin-left: 100px;
    margin-top: 25px;
    cursor: pointer;
}

.img-ad {
    position: relative;
    align-self: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 450px;
    bottom: 224.5px;
}

.sec-btn {
    padding: 10px 20px;
    border: none;
    display: flex;
    position: relative;
    gap: 20px;
    margin-left: 60px;
    padding-top: 40px;

}

.btn-sec-1,
.btn-sec-2,
.btn-sec-3,
.btn-sec-4,
.btn-sec-5,
.btn-sec-6,
.btn-sec-7 {
    background-color: #dbdbdb;
    padding: 10px 15px;
    border-radius: 20px;
    font: 500 15px "DM Sans", sans-serif;
    border: none;
    cursor: pointer;
}

.btn-sec-by {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
    font: 500 15px "DM Sans", sans-serif;
    border: 2px solid rgb(191, 191, 191);
    cursor: pointer;
    margin-left: 375px;
}

.section {
    font: 700 25px "DM Sans", sans-serif;
    margin-left: 80px;
    padding-top: 30px;
    color: #000000;
}

.headphone {
    width: 100%;
    height: 220px;
    object-fit: contain;
    position: relative;
    justify-content: center;
    cursor: zoom-in;
}

.headphone1 {
    width: 100%;
    height: 220px;
    object-fit: contain;
    position: relative;
    justify-content: center;
}


.like {
    position: relative;
    top: 5px;
    left: 240px;
    color: #000000;
    font-size: 20px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    cursor: pointer;
}

.like:hover {
    background-color: #000000;
    color: #ffffff;
}

.item-detail {
    font: 800 17px "DM Sans", sans-serif;
    padding-top: 55px;
    color: #000000;
}

.price1 {
    margin-left: 38px;
}

.price2 {
    margin-left: 114px;
}

.price3 {
    margin-left: 70px;
}

.price4 {
    margin-left: 47px;
}

.headphone-detail {
    font: 500 12px "DM Sans", sans-serif;
    padding-top: 5px;
    color: #6b6b6b;
}

.star {
    color: #00ff2a;
    font-size: 15px;
    padding-top: 10px;
}

.star-half {
    color: #00ff2a;
    font-size: 15px;
    padding-top: 10px;

}

.people-review {
    font: 500 12px "DM Sans", sans-serif;
    margin-left: 3px;
    color: #6b6b6b;
}

.add-cart {
    padding: 8px 25px;
    border-radius: 20px;
    font: 500 15px "DM Sans", sans-serif;
    position: relative;
    top: 15px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: #000000;
    color: #ffffff;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding-top: 35px;
}

.product-card {
    width: 310px;
    height: 310px;
    background: #e4e4e4;
    border-radius: 10px;
    padding: 16px;
}